

body{
    background: rgb(97,189,175);
    background: radial-gradient(circle, rgba(97,189,175,1) 0%, rgba(38,183,205,1) 33%, rgba(51,138,202,1) 50%, rgba(43,44,104,1) 82%, rgba(25,24,52,1) 100%);
    font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
/*
font-family: 'Playwrite FR Moderne'
font-weight: 400;*/
