/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the background color for the entire page */
body {
 /* background-color: #0a1f44;  Set your dark background color here */
  color: #ffffff; /* Default font color */
  font-family: Arial, sans-serif; /* Your preferred font */
}

.body {
  background: rgb(97,189,175);
  background: radial-gradient(circle, rgba(97,189,175,1) 0%, rgba(38,183,205,1) 33%, rgba(51,138,202,1) 50%, rgba(43,44,104,1) 82%, rgba(25,24,52,1) 100%);
}